#simulation{
    display: inline-block;
    margin: 0 18%;
}

.right {
    float: right;
}

#graphic{
    margin: '1%';
}

#prog-bar{
    margin-top: 3%;
}

.simu-top{
    display: flex;
    justify-content: space-between;
}

